body {
  margin: 0;
}

input {
  border: none;
  width: 100%;
  height: 39px;
  padding: 15px;
}

input:focus {
  outline: none;
}

table {
  width: 50%;
  table-layout: fixed;
}

.header {
  overflow: hidden;
  padding: 20px 30px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  color: #265b99;
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  padding: 20px 30px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #255e96;
  height: 48px;
  color: white;
  font-size: 20px;
  letter-spacing: 0.10em;
}

.product-list {
  overflow: hidden;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.product-page {
  font-size: 30px;
  padding: 20px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px !important;
}

.form-control {
  border: none;
  padding: none;
  outline: none;
}

.autocompleteContainer {
  position: 'absolute';
  top: '100%';
  background-color: 'red';
  width: '100%';
}

.input-id {
  width: 100%;
}

.schedulerContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingElement, .loadingElement, .mapElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 500px;
}
