body {
  margin: 0;
}

* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

/*#content {
  width: 100%;
}*/

input {
  border: none;
  width: 100%;
  height: 40px;
  padding: 15px;
}

input:focus {
  outline: none !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  outline: none;
  border-radius: 3px;
  text-align: center;
  width: 120px;
  color: white !important;
  background-color: #388cd1;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

button a {
  color: white !important;
}

a, .on-click-link {
  cursor: pointer;
  color: #5e5f60;
  text-decoration: none;

  &:visited {
    cursor: pointer;
    color: #5e5f60;
    text-decoration: none;
  }
}

a:hover {
  cursor: pointer;
  color: #378ace;
  text-decoration: none;
}

.on-click-link:hover {
  cursor: pointer;
  color: #378ace;
  text-decoration: none;
}


ul {
  list-style-type: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-and-searchbar-container {
  width: 1015px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 1015px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #265b99;
  font-size: 20px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.searchbar {
  margin-bottom: 20px;
  border: 5px solid #5e5f60;
  width: 1015px;
  height: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 0.10em;
}

.products-container {
  width: 1015px;
  height: 310px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-preview {
  width: 200px;
  height: 200px;
  border: 5px solid #5e5f60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.product-preview:hover {
  border: 5px solid #378ace;
  color: red;
}

.product-preview-name {
  margin-bottom: 15px;
}

.product-container {
  width: 1015px;
  height: 310px;
  display: flex;
  flex-direction: row;
  color: #5e5f60;
}

.product-name-and-description-container {
  padding: 20px;
  width: 650px;
  height: 310px;
}

.product-name {
  font-size: 35px;
}

.product-description {
  margin-top: 15px;
  font-size: 20px;
}

.pricing-and-button-container {
  width: 365px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 100px;
  padding: 20px;
}

.cart-container {
  border: 5px solid #5e5f60;
  width: 1015px;
  min-height: 250px;
  padding: 20px;
}

.empty-cart {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-cart-is-empty {
  font-size: 30px;
  color: red;
}

.continue-shopping {
  font-size: 20px;
  margin-top: 20px;
}

.cart-with-items {
}

.cart-titles {
  display: flex;
  flex-direction: row;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 25px;
  color: #5e5f60;
}

.cart-item-remove-button {
  display: flex;
  justify-content: center;
  width: 50px;
  color: #dedfdf
}

.cart-item-remove-button:hover {
  color: red;
}

.cart-item-name-and-list-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}

.cart-item-discount-and-final-price-container {
  width: 200px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-totals-and-checkout-button-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #5e5f60;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cart-total {
  font-size: 50px;
  color: red;
}

.cart-total-savings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cart-total-savings {
  font-size: 50px;
  color: red;
}

.checkout-button {
  /*margin-top: 20px;*/
}

.login-form-container {
  width: 1015px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.login-form {
  margin-top: 15px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-form-header {
  font-size: 25px;
  margin-bottom: 20px;
}

.login-form-input {
  border: 5px solid #5e5f60;
  margin-bottom: 10px;
}

.login-form-submit {
  border: 5px solid #5e5f60;
  margin-top: 10px;
}

input[type=submit] {
  border: 5px solid #5e5f60;
  padding: 5px 15px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #378ace;
  color: white;
  cursor: pointer;
}

.scheduler-container {
  border: 5px solid #5e5f60;
  width: 1015px;
  height: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.location-search-and-results-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.map-container {
  border-left: 5px solid #5e5f60;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%
}

.location-search-result-container-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px;
  width: 500px;
}

.location-search-result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.location-search-result {
}

.location-search-result-number {
  font-weight: bold;
  padding: 20px;
}

.location-search-result-name {
  font-weight: bold;
}

.location-search-result-address {

}

.location-search-result-phone {
  font-weight: bold;
}

/*.loadingElement {
  height: 300px;
  width: 500px;
}*/

.containerElement {
  height: 300px;
  width: 500px;
}

.mapElement {
  height: 300px;
  width: 500px;
}

.map-error-text {
  height: 300px;
  width: 500px;
  font-size: 30px;
  color: red;
  padding: 30px;
  text-align: justify;
}

.gm-style {
 background-color: white;
}

.form-group {
  width: 500px;
  border-bottom: 2.5px solid #5e5f60 !important;
}

.form-control {
}

.autocomplete-container {
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 500;
  width: 500px;
}
