body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

/*#content {
  width: 100%;
}*/

input {
  border: none;
  width: 100%;
  height: 39px;
  padding: 15px;
}

input:focus {
  outline: none !important;
}

table {
  width: 50%;
  table-layout: fixed;
}

button {
  outline: none;
  border-radius: 3px;
  text-align: center;
  width: 120px;
  color: white !important;
  background-color: #388cd1;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

button a {
  color: white !important;
}

a, .on-click-link {
  cursor: pointer;
  color: #666666;
  text-decoration: none;

  &:visited {
    cursor: pointer;
    color: #666666;
    text-decoration: none;
  }
}

a:hover {
  cursor: pointer;
  color: #378ace;
  text-decoration: none;
}

.on-click-link:hover {
  cursor: pointer;
  color: #378ace;
  text-decoration: none;
}


ul {
  list-style-type: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-and-searchbar-container {
  width: 1015px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 1015px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #265b99;
  font-size: 20px;
}

.searchbar {
  margin-bottom: 20px;
  border: 5px solid #666666;
  width: 1015px;
  height: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 0.10em;
}

.product-list {
  overflow: hidden;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.product-preview {
  position: relative;
}

.product-text-overlay {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  color: white !important;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.product-page {
  font-size: 30px;
  padding: 20px;
}

.cart-container {
  border: 5px solid #666666;
  width: 1015px;
  height: 310px;
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;*/
}

.continue-shopping {
  margin-top: 20px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.scheduler-container {
  border: 5px solid #666666;
  width: 1015px;
  height: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.location-search-and-results-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.map-container {
  border-left: 5px solid #666666;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%
}

.location-search-result-container-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px;
  width: 500px;
}

.location-search-result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.location-search-result {
}

.location-search-result-number {
  font-weight: bold;
  padding: 20px;
}

.location-search-result-name {
  font-weight: bold;
}

.location-search-result-address {

}

.location-search-result-phone {
  font-weight: bold;
}

/*.loadingElement {
  height: 300px;
  width: 500px;
}*/

.containerElement {
  height: 300px;
  width: 500px;
}

.mapElement {
  height: 300px;
  width: 500px;
}

.map-error-text {
  height: 300px;
  width: 500px;
  font-size: 30px;
  color: red;
  padding: 30px;
  text-align: justify;
}

.gm-style {
 background-color: white;
}

.form-group {
  width: 500px;
  border-bottom: 2.5px solid #666666 !important;
}

.form-control {
}

.autocomplete-container {
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 500;
  width: 500px;
}
